body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat__messagess {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% + 17px);
}

.chat__message{
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    height: fit-content;
    margin: 10px 0px;
}

.chat__message-username {
    border-bottom: 1px dashed black;
    padding: 10px
}

.chat__message-test {
    padding: 10px
}

.chat__form { 
    background: white;
    display: flex;
    flex-direction: column;
    height: 30%;
    max-height: 30%;
    justify-content: space-between;
}

.chat__form * {
    margin: 10px;
}

.chat__form-name, .chat__form-text, 
.chat__form-send-btn, .chat__form-text-input,
.chat__form-text-textbox
{
    outline: none;
    border: solid 1px rgba(0,0,0,.5);
    border-radius: 5px;
    height: 20px;
    padding: 5px 10px;
}

.chat__form-text, .chat__form-text-textbox {
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    overflow-y: hidden;
    height: 100%;
}

.chat__form-text {
    box-sizing: border-box;
}

.chat__form-text-input {

}

.chat__form-text-textbox {
    overflow-y: hidden;
    height: 50px;
    max-height: 50px;
}

.chat__form-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px;
    height: fit-content;
    cursor: pointer;
}

.chat__message-clear {
    top: 8px;
    right: 10px;
}

.chat__message-create {
    top: 8px;
    right: 40px;
}

._icon {
    user-select: none;
    cursor: pointer;
    position: absolute;
}

._stop-event {
    opacity: .5;
    pointer-events: none;
}

.chat__message-done {
    top: 8px;
    right: 40px;
    visibility: hidden;
}

._visibility {
    visibility: visible;
}

._hide {
    visibility: hidden;
}
